# python cache
__pycache__/
*.py[cod]
*.pyo

# editor configure
.vscode/
.idea/

# virtual envrionment
env/
venv/
.venv/

# system
.DS_Store
Thumbs.db

# local
*.log
*.sqlite
*.db
*.json

# local environment
.env
